<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="min-h-screen bg-zinc-900 p-10">
        <h2 class="text-blue-500"><a href="/">Back to home</a></h2>
        <h1 class="bg-zinc-600 text-3xl text-white rounded-md h-20 pt-5 px-7 mt-5">All users</h1>
       <% if (allusers.length>0) { %>
        <div class="users flex gap-7 px-15 flex-wrap">
             <% allusers.forEach((user)=>{  %>
            <div class="user p-4 w-72 rounded-md bg-zinc-600 mt-5 w-40">
                <div class="w-full h-52 bg-blue-400 rounded-md overflow-hidden">
                    <img class="w-full h-full object-cover" src="<%=user.image %>" alt="">
                </div>
                <h1 class="text-white text-xl font-semibold mt-1"><%= user.name%> </h1>
                <h5 class="text-zinc-300"><%= user.email%></h5>
                <div class="flex gap-3 mt-6">
                    <a class="text-zinc-500 font-semibold" href="/updation/<%=user._id %>">Edit user</a>
                    <a class="text-red-500 font-semibold" href="/delete/<%=user._id %>">Delete user</a>
                </div>
            </div>
              <% }) %>
       </div> 
    <% }else { %>
        <div class="text-zinc-300 mt-5">No users yet</div>
       <% } %>
    
 </div>
</body>
</html>